<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="container my-3">
        <h2>Article 등록</h2>
        <form th:action="@{/article/create}" method="post" class="form">
            <label>제목</label>
            <input type="text" name="title" id="title"><br>
            <label>내용</label>
            <textarea name="content" id="content" rows="10"></textarea><br>
            <input type="submit" class="button" value="등록하기">
        </form>
    </div>
</div>
</html>