<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" th:text="${article.title}"></h5>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="${article.content}"></p>
            <span class="badge text-bg-light">
                <p th:if="${article.writer != null}" th:text="${article.writer.nickname}"></p>
                <p th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></p>
            </span>
        </div>
        <div class="card-footer"
            sec:authorize="isAuthenticated()"
            th:if="${article.writer != null and article.writer.username == #authentication.getPrincipal().getUsername()}">
            <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-outline-secondary">수정</a>
            <a th:href="@{/article/delete}" class="btn btn-outline-secondary">삭제</a>
        </div>
    </div>
    <a th:href="@{/article/list}" class="btn btn-primary">Article 목록</a>
</div>
</html>