<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성일시</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article, loop : ${articleList}">
            <td th:text="${loop.count}"></td>
            <td><a th:text="${article.title}" th:href="@{|/article/detail/${article.id}|}"></a></td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/article/create}">Article 등록하기</a>
</div>
</html>